<section class="about">
	<div class="me">
		<%= image_tag asset_path 'me.jpg' %>
	</div>
	<div class="info">
		<h2>Hi, I'm Sarah Dougan.</h2>	</br>
		I am a Web Developer, Designer and animal adorer. Originally from Ireland, currently based in Haarlem with my litte family. I currently work at Gramble.com as a Front-End Developer (They're seriously awesome and do great things with charities, check them out!).</br> </br>Previous to living in The Netherlands I lived in San Francisco for 1.5yrs working with various startups on their websites and apps.
		</br></br>
		I enjoy all types of design, motorbikes, animals, video games, sunshine, exploring outdoors, rock climbing and learning new things.

		</br></br> 
		<ul>
			<li><a href="http://twitter.com/mrsdougan" target="_blank"><%= image_tag asset_path 'twitter.png' %> </a></li>
			<li><a href="http://dribbble.com/mrsdougan" target="_blank"><%= image_tag asset_path 'dribbble.png' %> </a></li>
			<li><a href="http://instagram.com/sdougan" target="_blank"><%= image_tag asset_path 'instagram.png' %> </a></li>
			<li><a href="http://mrsdougan.tumblr.com" target="_blank"><%= image_tag asset_path 'tumblr.png' %> </a></li>
		</ul>
	</div>
 </p> 
 <div class="clearfix"></div>
</section>
