<div class="contact">
	<div class="wrapper">
		<div class="title">
			<h1>Contact me</h1>
			<p>Send me an email, I'd love to hear about your project!</p>
		</div>
	</div>

	<div class="contact_form">
		<div class="inner">
			<%= form_for @message, :url => contact_path do |form| %>
				<label>Your name</label><br>
				<%= form.text_field :name %>

				<label>Email</label><br>
	      <%= form.text_field :email %><br>

				<label>Some Details</label><br>
				<%= form.text_area :body %><br>

				<%= form.submit "Send" %>
			<% end %>

			<div class="info">
				<p>Some things I need to know:</p>
				<ul>
					<li> - Project specs</li>
					<li> - Timescale (project start/end dates)</li>
					<li> - Your budget</li>
					<li> - Current website URL</li>
				</ul>
			</div>
				
			<div class="clearfix"></div>
		</div>
	</div>
</div>

