<section class="portfolio development">
    <%= render :partial => "shared/portfolio_nav" %>

    <ul class="projects">
        <li>
            <a href="http://ban.jo" target="_blank">
                <h1>Banjo</h1>
                <%= image_tag asset_path 'banjo.png' %>
            </a>
            <p>I re-designed and coded the Blog page. <br />
                <u>Tools Used:</u> Photoshop, Textmate, WordPress. <br />
                <u>Languages used:</u> HTML, CSS, PHP.
            </p>
        </li>
        <div class="divider"></div>

        <li>
            <a href="http://securityscoreboard.com" target="_blank">
                <h1>Yoofora</h1>
                <%= image_tag asset_path 'yoofora.png' %>
            </a>
            <p>I re-designed and coded the whole website on the CMS Joomla. <br />
                <u>Tools Used:</u> Photoshop, Textmate, Joomla. <br />
                <u>Languages used:</u> HTML, CSS3, PHP, JavaScript
            </p>

        </li>
        <div class="divider"></div>

        <li>
            <a href="http://plantbasedapps.com" target="_blank">
                <h1>Plant Based Apps</h1>
                <%= image_tag asset_path 'pbapps.png' %>
            </a>
            <p>I sliced up coded the website in Ruby on Rails. <br />
                <u>Tools Used:</u> Photoshop, Textmate, Heroku. <br />
                <u>Languages used:</u> HTML, CSS3, Ruby on Rails, JavaScript.
            </p>
        </li>
        <div class="divider"></div>

        <li>
            <a href="http://soundpostr.com" target="_blank">
                <h1>Soundpostr</h1>
                <%= image_tag asset_path 'soundpostr.png' %>
            </a>
            <p>I designed the basics and coded the website in Ruby on Rails. <br />
                <u>Tools Used:</u> Photoshop, Textmate, Heroku. <br />
                <u>Languages used:</u> HTML, CSS3, Ruby on Rails, JavaScript.
            </p>
        </li>
        <div class="divider"></div>

        <li>
            <a href="http://noca.com" target="_blank">
                <h1>Noca</h1>
                <%= image_tag asset_path 'noca.png' %>
            </a>
            <p>I designed and coded the website in Ruby on Rails. <br />
                <u>Tools Used:</u> Photoshop, Textmate. <br />
                <u>Languages used:</u> HTML, CSS3, Ruby on Rails, JavaScript.
            </p>
        </li>
    </div>
</section>
