<div class="portfolio">
	<div class="wrapper">
		
	</div>

	<div class="portfolio_item">
		<div class="wrapper">
			<div class="left">
				<div class="image"> <img src="<%= @item.image %>"></div>
			</div>
			<div class="right">

				<div class="title">
					<h1><%= @item.title %></h1>
				
					<ul class="items">
						<% @item.category.split(',').each do |c| %>
						<li><%= c %></li>
						<% end %>
					</ul>
				</div>
				
				<p>Date: <span> <%= @item.date %></span></p>
<!-- 				<p>Client: <span> Sarah Dougan</span></p>
 -->				<p>Description: <span> <%= @item.description %></span></p>
			</div>
			<div class="clearfix"></div>
		</div>

			<div class="latest_work">
		<div class="wrapper">
			<div class="title">
				<h1>Some other projects</h1>
			</div>

			<%= render :partial => 'preview_work' %>

			<div class="clearfix"></div>

		</div>
	</div>
	</div>


</div>
