<!DOCTYPE html>
<html>
<head>
  <title>Sarah Dougan | Web Designer & Developer</title>
 
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
</head>
<body>
    
    <div id="container">
        <div id="inner">
        
        <%= yield %>
        <%= render "shared/navigation" %>
        
        <div class="clearfix"></div>
        </div>
    </div>
    <%= render "shared/footer" %>
</body>
</html>
