<!DOCTYPE html>
<html>
<head>
  <title>Sarah Dougan | Web Designer & Developer</title>
 
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
      
      <meta name="description" content="Sarah Dougan's website about her awesome design and development skills">
      <meta name="keywords" content="Sarah Dougan, Sarah, Dougan, Designer, Developer, Web Designer, Web Developer">
      <meta name="author" content="Sarah Dougan">
      <meta name="copyright" content="August 2011">
      
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22578706-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
</head>
<body>
    
    <div id="container">
        <div id="inner">
        
        <%= yield %>
        <%= render "shared/navigation" %>
        
        <div class="clearfix"></div>
        </div>
    </div>
    <%= render "shared/footer" %>
</body>
</html>
